<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=VT323&display=swap" rel="stylesheet">
    <title>Boxers In The Universe-Browser game</title>
    <meta name="description" content="hey, let's play the game">
    <script defer src="/socket.io/socket.io.js"></script>
</head>
<style>
    body{
      background-color: black;
    }
    #home{
      display: flex;
      flex-direction: column;
      text-align: center;
     /* font-family: 'Rajdhani', sans-serif;*/
      font-family: 'VT323', monospace;
      margin-top: 15%;
      color: rgb(36, 227, 49);
    }
    .yay{
      margin: 5px;
      padding: 5px;
    }
    button{
    font-family: 'VT323', monospace;
    color:  rgb(36, 227, 49);
	background: none;
	border: 2px solid rgb(36, 227, 49);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

   }

   button:focus{
    background: rgb(36, 227, 49);
    color: black;
   }
</style>
<body>
  <div id="home">
   <h1 class="yay">Boxers in the universe (Still under development)</h1>
   <div id="mess" class="yay"><%=message%></div>
   <form action="/room" method="POST">
   <button id="but" type="submit" class="yay" >Click here to enter a new room</button><!--onclick="startbutton()"-->
   </form>
   
  </div>
 <!-- <script src="/static/depar.js"></script>-->
</body>
</html>